{% extends 'onlinedu/layout.html' %}

{% block title %}
    
    OnlinEdu - {{ course.title | truncatewords:10 }}

{% endblock %}

{% block body %}

    <div class="container">

        <br>

        <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <small class="text-muted">Taught by: <a href="{% url 'instructor' course.instructor.username %}"><strong>{{ course.instructor.get_full_name }}</a></strong></small>
                        <br>
                        <small class="text-muted">Course rating: <strong style="font-size: large;">{{ course.rating }}</strong></small>
                        <br>
                        <small class="text-muted">Student Count: <strong style="font-size: large;">{{ course.student_count }}</strong></small>
                        <br>
                        <br>
                        <img class="card-img-top img-fluid" style="width: 30em;" src="{{ course.thumbnail.url }}" alt="Thumbnail for Course: {{ course.title }}">
                        <br>
                        <br>
                        <p class="card-text">{{ course.description }}</p>
                        {% if course.instructor == user %}
                            <input type="button" value="View Course" class="btn btn-primary">
                            <a href="{% url 'disable_course' course.id %}"><input type="button" value="Remove Course" class="btn btn-danger"></a>
                        {% else %}
                            {% if enrolled %}
                                <a href="{% url 'course_view' course.id %}"><input type="button" value="Continue Course" class="btn btn-primary"></a>
                            {% else %}
                                <a href="{% url 'join_course' course.id %}"><input type="button" value="Join Course" class="btn btn-primary"></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>

    <br>

    <div class="container">

        <h5 class="card-title">Reviews</h5>

        <ul class="list-group">
            {% for review in course.reviews %}
                <li class="list-group-item"><a href="{% url 'student' review.reviewer.username %}"><strong>{{ review.reviewer.get_full_name }}</strong></a>: {{ review.review }}
                    <br>
                    <small><i>{{ review.time }}</li></small></i> 
            {% empty %}
                <li class="list-group-item">The course currently has no reviews.</li>
            {% endfor %}            
        </ul>

        <br>

    </div>

{% endblock %}