{% extends 'onlinedu/layout.html' %}

{% block script %}

    <script type="text/javascript">

        //  Getting YouTube JS API ready
        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        // Adding the events to the player
        var player;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('existing-iframe-example', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
        }

        // On Player Ready event
        function onPlayerReady(event) {
        
        }

        // When video is completed, show certificate of completion
        function onPlayerStateChange(event) {

        if (event.data === 0) {

            
            if (document.querySelector('#course-completion')) {

                // Generate alert on completion
                alert("Congratulations! You've finished the course and can now get your certificate.")
                
                // Show div which gets certificate

                document.querySelector('#course-completion').style.display = 'block'
                document.querySelector('#course-completion-button').style.display = 'block'

                // Get courseID from HTML
                let courseID = document.querySelector('#course-id').innerHTML

                // Fetch request to server to change course completion status
                fetch(`/completed/${courseID}`, {

                method: 'PUT',
                body: JSON.stringify({
                    archived: !status

                    })
                })
            } else {
            }
        }
        }

    </script>

{% endblock %}


{% block title %}
    
    OnlinEdu - {{ course.title | truncatewords:10 }}

{% endblock %}

{% block body %}

    <div class="container">

        <br>

        {% if request.user in course.completed.all %}
            <div class="alert alert-success" role="alert">
                Congratulations! You've finished the course and can now get your certificate.
            </div>
        {% else %}
            <div id='course-completion' class="alert alert-success" role="alert" style="display: none;">
                Congratulations! You've finished the course and can now get your certificate.
            </div>
        {% endif %}

        <div id="course-id" style="display: none;">{{ course.id }}</div>

        <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'course' course.id %}"><h5 class="card-title">{{ course.title }}</h5></a>
                        <small class="text-muted">Taught by: <a href="{% url 'instructor' course.instructor.username %}"><strong>{{ course.instructor.get_full_name }}</a></strong></small>
                        <br>
                        <br>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="existing-iframe-example" src="{{ course.video_embed }}"  frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <br>
                        {% if request.user in course.completed.all %}
                            <div>
                                <a href="{% url 'certificate' course.id %}"><input type="button" value="Get Certificate!" class="btn btn-success"></a>
                            </div>
                        {% else %}
                            <div id='course-completion-button' style="display: none;">
                                <a href="{% url 'certificate' course.id %}"><input type="button" value="Get Certificate!" class="btn btn-success"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>

    <br>

    <div class="container">

        <h2>Discussion board:</h2>

        <br>

        <ul class="list-group">
            {% for discussion in course.discussions %}
            <li class="list-group-item">
                <div class="row">
                    <span class="col-xl-2 col-lg-2 col-sm-2">
                        <a href="{% url 'student' discussion.creator.username %}"><strong>{{ discussion.creator.get_full_name }}</strong></a>
                    </span>
                    <span class="col-xl-8 col-lg-6 col-sm-5">
                        <i>{{ discussion.comment }}</i>
                    </span>
                    <span class="col-xl-1 col-lg-1 col-sm-2" id="thread-reply-button">
                        <button class="btn btn-primary">Reply</button>
                    </span>
                    <span class="col-xl-1 col-lg-1 col-sm-1" id='thread-like' data-type="thread" data-id="{{ discussion.id }}">
                        <img style="height: 20px; width: auto;" src="/media/course/2020/like/like.png">
                        <small><i><strong><span id="like-count">{{ discussion.like }}</span></strong></small></i>
                    </span>
                    <span class="col-xl-2 col-lg-2 col-sm-2">
                        <small><i>{{ discussion.time }}</small></i>
                    </span>
                    <span class="col-xl-10 col-lg-10 col-sm-10 ml-auto" id="thread-reply" style="display: none;">
                        <br>
                        <form action="{% url 'comment' discussion.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="text" name="comment" placeholder="Your comment" required>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <br>
                            <br>
                        </form>
                    </span>
                </div>
                <ul class="list-group">
                    {% for comment in discussion.all_comments %}
                        {% if comment.creator == course.instructor %}
                            <li class="list-group-item col-10 ml-auto" style="background-color: #EEFAFF;">
                        {% else %}
                            <li class="list-group-item col-10 ml-auto" style="background-color: #ebebeb;">                                
                        {% endif %}                                
                            <div class="row">
                                <span class="col-xl-2 col-lg-2 col-sm-3">
                                    <a href="{% url 'student' comment.creator.username %}"><strong>{{ comment.creator.get_full_name }}</strong></a>
                                </span>
                                <span class="col-xl-9 col-lg-6 col-sm-6">
                                    <i>{{ comment.comment }}</i>
                                </span>
                                <span class="col-xl-1 col-lg-1 col-sm-1" id='thread-like' data-type="comment" data-id="{{ comment.id }}">
                                    <img style="height: 20px; width: auto;" src="/media/course/2020/like/like.png">
                                    <small><i><strong><span id="like-count">{{ comment.like }}</span></strong></small></i>
                                </span>
                                <span class="col-xl-3 col-lg-2 col-sm-2">
                                    <small><i>{{ comment.time }}</small></i>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% empty %}
                <li class="list-group-item">The course currently has no reviews.</li>
            {% endfor %}            
        </ul>

        <br>

        <h5>Add to the discussion:</h5>

        <form action="{% url 'course_view' course.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="discussion" placeholder="Your thoughts" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>

        <br>

    </div>

{% endblock %}