{% extends 'onlinedu/layout.html' %}

{% block title %}
    OnlinEdu - Home
{% endblock %}

{% block body %}
    {% if message %}
        <div class="alert alert-success">{{ message }}</div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvUhpWXC-YdPGENGmm0uMYi9iwr6n5pcwZ8w&usqp=CAU); background-size: 100% 100%;">
        <div class="container">
            <h1 class="display-4">Welcome to, <strong>OnlinEdu!</strong></h1>
            <hr class="my-4">
            <p class="lead">The website that is <strong>linking students</strong> across the world to education that is <strong>free</strong> for all!
               Look around and select the courses that <strong>interest you</strong> and get lost in the <strong>magical</strong> world of learning.</p>
        </div>
    </div>

    <div class="container">

        <br>

        <h3><strong>Top 5 Courses:</strong></h3>

        <div class="card-deck">
            {% for course in courses %}
                <div class="card mb-3" style="min-width: 18rem; max-width: 40rem;">
                    <img class="card-img-top img-fluid" src="{{ course.thumbnail.url }}" alt="Thumbnail for Course: {{ course.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <small class="text-muted">Taught by: <a href="{% url 'instructor' course.instructor.username %}"><strong>{{ course.instructor.get_full_name }}</a></strong></small>
                        <br>
                        <br>
                        <p class="card-text">{{ course.description }}</p>
                        {% if user.is_authenticated %}
                            {% if course in user.courses.all %}
                                <a href="{% url 'course_view' course.id %}"><input type="button" value="Continue Course" class="btn btn-success"></a>
                                {% if user in course.raters.all %}
                                    <button type="button" class="btn btn-secondary">Completed</button>
                                {% endif %}
                            {% else %}
                                {% if course.instructor == user %}
                                    <a href="{% url 'course_view' course.id %}"><input type="button" value="Continue Course" class="btn btn-success"></a>
                                {% else %}    
                                    <a href="{% url 'course' course.id %}"><input type="button" value="Learn More" class="btn btn-primary"></a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'course' course.id %}"><input type="button" value="Learn More" class="btn btn-primary"></a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Rating: <strong>{{ course.rating }}</strong></small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>

{% endblock %}