{% extends 'onlinedu/layout.html' %}

{% block title %}
    OnlinEdu - Register Student
{% endblock %}

{% block body %}

    <div class="container">
    
        <br>
        
        <h2>Register as a <strong>Student</strong>:</h2>

        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}

        <form action="{% url 'register_choice' choice='student' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="first_name" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-group">
                <label for="course-choices"><i>Course Choices (required):</i></label>
                {{ form }}
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

        <br>

        <small>Already have an account? <a href="{% url 'login' %}">Log In here.</a></small>

    </div>

{% endblock %}