{% extends 'onlinedu/layout.html' %}

{% block title %}
    
    OnlinEdu - {{ student.username | capfirst }}

{% endblock %}

{% block body %}

    <div class="container">

        <br>

        <h3>Currently enrolled courses for <strong>{{ student.username }}:</strong></h3>

        {% if student.courses.count %}
            <small><i>Total courses: <strong>{{ student.courses.count }}</strong></i></small>
        {% else %}
            <small><i>Currently no courses are attended by this student</i></small>
        {% endif %}

        <br>
        <br>
        

        <div class="card-deck">
            {% for course in courses %}
                <div class="card mb-3" style="min-width: 18rem; max-width: 40rem;">
                    <img class="card-img-top img-fluid" src="{{ course.thumbnail.url }}" alt="Thumbnail for Course: {{ course.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <small class="text-muted">Taught by: <a href="{% url 'instructor' course.instructor.username %}"><strong>{{ course.instructor.get_full_name }}</a></strong></small>
                        <br>
                        <br>
                        <p class="card-text">{{ course.description }}</p>
                        {% if user.is_authenticated %}
                            {% if course in user.courses.all %}
                                <a href="{% url 'course_view' course.id %}"><input type="button" value="Continue Course" class="btn btn-success"></a>
                            {% else %}
                                <a href="{% url 'course' course.id %}"><input type="button" value="Learn More" class="btn btn-primary"></a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'course' course.id %}"><input type="button" value="Learn More" class="btn btn-primary"></a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Rating: <strong>{{ course.rating }}</strong></small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>

{% endblock %}